body {
  font-family: sans-serif;
        background-color: rgba(175, 184, 190, 0.1);
}

.box {
  border: 2px dotted rgb(73, 124, 158);
  display: flex;
  justify-content: space-between;
}

.box > * {
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 0.2);
  padding: 1em;
}
